name: Wake Up Render App

on:
  schedule:
    # 9:00 AM IST = 03:30 UTC
    - cron: '30 3 * * *'
  workflow_dispatch:

jobs:
  ping_render:
    name: Ping Render URL
    runs-on: ubuntu-latest
    steps:
      - name: Check URL and Ping
        run: |
          RENDER_URL="${{ secrets.RENDER_APP_URL }}"
          echo "Pinging $RENDER_URL/healthChecker"
          curl -I "$RENDER_URL/healthChecker"
