name: Wake Up Render App

on:
  schedule:
    # 8:40 AM IST = 03:10 UTC
    - cron: '10 3 * * *'
  workflow_dispatch:

jobs:
  ping_render:
    name: Ping Render URL
    runs-on: ubuntu-latest
    steps:
      - name: Check URL and Ping
        run: |
          RENDER_URL="https://citizenconnect-3um7.onrender.com"
          echo "Pinging $RENDER_URL/healthChecker"
          curl -I "$RENDER_URL/healthChecker"
